/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #333;
    color: #222020;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    float: left;
}

nav ul {
    list-style-type: none;
    float: right;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #20b46f;
    text-decoration: none;
}

section {
    padding: 40px 0;
}

section h2 {
    margin-bottom: 20px;
}

.video-thumbnail {
    margin-bottom: 20px;
    width:300px;
}

.video-thumbnail img {
    max-width: 100%;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #0e0c0c;
    position: absolute;
    width: 100%;
    bottom: 0;
}
